.employee-list {
    margin-top: -49px;
    margin-bottom: 20px;
    border-radius: 3px;

    employee-list-item {
        cursor: pointer;
    }
}

.employee-list_header h3 {
    padding-left: 8px;
}
