.pb-print-dialog {
    @media screen and (min-width: 960px) {
        width: 640px;
        min-height: 480px;
    }
    padding: 0 8px 8px 8px;
}

.pb-print-dialog_type {
    padding-left: 24px;
    padding-bottom: 8px;
}

.pb-print-dialog_search {
    padding: 0 24px;
}
