<div layout="row" layout-padding layout-align="start center" class="employees-list-item">
    <div flex="30">
        <h4>{{ employee.surname }} {{ employee.firstname }} {{ employee.patronymic }}</h4>
        <p>{{ employee.position }}</p>
    </div>
    <div flex>
        <md-tooltip md-direction="left" ng-show="employee.phones.length > 1">
            Eще {{ employee.phones.length }}
        </md-tooltip>
        {{ employee.phones[0].number | formatPhone }}
        <md-icon ng-show="employee.phones.length > 1">expand_more</md-icon>
    </div>
    <div flex>
        <md-tooltip md-direction="left" ng-show="employee.emails.length">
            Eще {{ employee.emails.length }}
        </md-tooltip>
        {{ employee.emails[0].email }}
        <md-icon ng-show="employee.emails.length">expand_more</md-icon>
    </div>
    <div flex>
        <p>{{ employee.company }}</p>
        <div layout="row">
        <p>{{ employee.center }}</p>
        <p ng-show="employee.division">&nbsp/ {{ employee.division }}</p>
        </div>
    </div>
</div>
