.*
*.db
*.sqlite3
coverage.xml

!.gitignore
!.coveragerc
!.pylintrc
!.isort.cfg
!.travis.yml
!.bowerrc


# bower_components
bower_components
node_modules

# Project
media
initial_data.json
phonebook_db.sql
phonebook_local_20160305.sql
secrets.json
npm-debug.log
staticfiles/