<header class="pb-header md-whiteframe-2dp">
    <md-toolbar class="md-tall">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon>menu</md-icon>
            </md-button>
            <h2 flex>
                <span>Телефонный справочник</span>
            </h2>

            <form ng-submit="ctrl.search(ctrl.searchText)" flex="50">
                <md-autocomplete md-selected-item="ctrl.selectedItem"
                                 md-selected-item-change="ctrl.showEmployeeDetail(ctrl.selectedItem)"
                                 md-search-text="ctrl.searchText"
                                 md-items="item in ctrl.employeeSearch(ctrl.searchText)"
                                 md-item-text="ctrl.getEmployeeName(item)"
                                 md-min-length="0"
                                 md-delay="200"
                                 placeholder="Поиск сотрудников"
                                 class="pb-white-placeholder">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">
                            {{ ctrl.getEmployeeName(item) }}
                        </span>
                    </md-item-template>
                    <md-not-found>
                        Сотрудник "{{ ctrl.searchText }}" не найден.
                    </md-not-found>
                </md-autocomplete>
            </form>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon>apps</md-icon>
            </md-button>
        </div>
        <div class="md-toolbar-tools md-toolbar-tools-bottom" layout layout-align="center">
            <div flex="66" layout="row" layout-align="end">
                <md-input-container>
                    <md-select ng-model="ctrl.selectedCompany"
                               md-on-open="ctrl.loadCompanies()"
                               ng-change="ctrl.companyChanged()">
                        <md-option ng-value="null">Выберите предприятие</md-option>
                        <md-option ng-repeat="company in ctrl.companies.results" value="{{ company.id }}">
                            {{ company.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-select ng-model="ctrl.selectedCenter"
                               ng-disabled="!ctrl.selectedCompany"
                               md-on-open="ctrl.loadCenters()"
                               ng-change="ctrl.centerChanged()">
                        <md-option ng-value="null">Выберите центр</md-option>
                        <md-option ng-repeat="center in ctrl.centers.results" value="{{ center.id }}">
                            {{ center.number }} - {{ center.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-select ng-model="ctrl.selectedDivision"
                               ng-disabled="!ctrl.selectedCenter"
                               md-on-open="ctrl.loadDivisions()"
                               ng-change="ctrl.divisionChanged()">
                               <md-option ng-value="null">Выберите отделение/отдел</md-option>
                        <md-option ng-repeat="division in ctrl.divisions.results" value="{{ division.id }}">
                            {{ division.number }} - {{ division.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </md-toolbar>
</header>


<md-sidenav class="md-sidenav-right md-whiteframe-z2 pb-detail-sidenav"
            md-component-id="employee-detail-right">
      <employee-detail employee="ctrl.employee"></employee-detail>
</md-sidenav>


<div layout layout-align="center start">
    <md-content flex="70" class="employee-list md-whiteframe-2dp">
        <div class="employee-list_header">
            <div layout="row" layout-align="center center">
                <h3 class="md-body-1">Сотрудники</h3>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </div>
            <md-divider></md-divider>
        </div>
        <div infinite-scroll='ctrl.employees.nextPage()'
             infinite-scroll-disabled='ctrl.employees.busy'
             infinite-scroll-distance='2'>
            <div ng-repeat="employee in ctrl.employees.results">
                <employee-list-item employee="employee"
                                     ng-click="ctrl.showEmployeeDetail(employee)">
                </employee-list-item>
                <md-divider ng-if="!$last"></md-divider>
            </div>
            <div ng-show="!ctrl.employees.busy && !ctrl.employees.results.length" class="pb-not-found">
                <h3 class="md-title">По заданным критериям поиска сотрудников не найдено!</h3>
            </div>
        </div>

    </md-content>
</div>


<md-progress-circular class="md-accent md-hue-1 pb-progress_circular"
                      md-mode="indeterminate"
                      md-diameter="60"
                      ng-show="ctrl.employees.busy">
</md-progress-circular>
