<div>

<md-button class="{{ newFeedback.buttonClass }}" aria-label="Add"
           ng-click="newFeedback.showNewFeedbackDialog($event)">
    <md-icon>create</md-icon>
    <md-tooltip>Новое сообщение</md-tooltip>
</md-button>

<script type="text/ng-template" id="new-feedback-dialog.tmpl.html">
    <md-dialog aria-label="New Feedback" layout="column" class="pb-dialog">
        <md-dialog-content flex>
            <form name="newFeedbackForm" layout="column" layout-padding>
                <div layout="row" layout-padding>
                    <h1 class="md-title">Обратная связь</h1>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="nfdCtrl.cancel()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>

                <md-input-container class="md-block">
                    <label>Представьтесь</label>
                    <input ng-model="nfdCtrl.feedback.sender"
                           name="sender"
                           md-maxlength="50"
                           required
                           autofocus="true">
                    <div class="pb-input-hint">Введите Вашу фамилию и инициалы</div>
                    <div ng-messages="newFeedbackForm.sender.$error">
                        <div ng-message="required">Необходимо указать <b>свою</b> фамилию.</div>
                        <div ng-message="md-maxlength">Убедитесь, что в этом поле не больше 50 символов</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Текст</label>
                    <textarea ng-model="nfdCtrl.feedback.text"
                              columns="1"
                              md-maxlength="500"
                              rows="6"
                              name="text"
                              required>
                    </textarea>
                    <div class="pb-input-hint">Введите Ваше сообщение</div>
                    <div ng-messages="newFeedbackForm.text.$error">
                        <div ng-message="required">Поле не может быть пустым!</div>
                        <div ng-message="md-maxlength">Убедитесь, что в этом поле не больше 500 символов</div>
                    </div>
                </md-input-container>
            </form>
        </md-dialog-content>

        <md-dialog-actions layout-padding>
            <md-button ng-click="nfdCtrl.cancel()"
                       class="md-raised"
                       aria-label="Cancel">
                Отмена
            </md-button>
            <md-button ng-click="nfdCtrl.send()"
                       ng-disabled="!(nfdCtrl.feedback.sender && nfdCtrl.feedback.text)"
                       class="md-raised md-primary"
                       aria-label="Send">
                Отправить
            </md-button>
        </md-dialog-action>
    </md-dialog>
</script>

</div>
