<form name="newFeedbackForm" layout="column" layout-padding style="min-width:640px;min-height:480px;">
    <md-input-container class="md-block">
        <label>Представьтесь</label>
        <input ng-model="newFeedback.sender"
               name="sender"
               md-maxlength="50"
               required
               autofocus="true">
        <div ng-messages="NewFeedbackForm.sender.$error">
            <div ng-message="required">Необходимо указать <b>своё</b> ФИО.</div>
            <div ng-message="md-maxlength">Убедитесь, что в этом поле не больше 50 символов</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block" flex>
        <label>Текст</label>
        <textarea ng-model="newFeedback.text"
                  columns="1"
                  md-maxlength="500"
                  rows="6"
                  name="text"
                  required>
        </textarea>
        <div ng-messages="NewFeedbackForm.text.$error">
            <div ng-message="required">Поле не может быть пустым!</div>
            <div ng-message="md-maxlength">Убедитесь, что в этом поле не больше 500 символов</div>
        </div>
    </md-input-container>
    <div layout="row">
        <span flex></span>
        <md-button ng-click="newFeedback.add()"
                   ng-disabled="!(newFeedback.sender && newFeedback.text)"
                   class="md-fab md-primary md-mini"
                   aria-label="Sent">
            <md-icon>send</md-icon>
        </md-button>
    </div>
</form>
