{% extends "admin/base.html" %}
{% load static %}


{% block extrahead %}
    {{ block.super }}

    <style>
        .admin-short-label label {
            width: 70px;
        }

        .admin-short-label input[id="id_address"] { width: 800px; } 
    </style>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}

    <script>
        $(document).ready(function() {

            function change(firstFKName, secondFKName) {
                var self = '.autocomplete-light-widget select[name$=' + firstFKName + ']',
                    firstSelectElement = $(self),
                    secondSelectElement = $('#' + $(self).attr('id').replace(firstFKName, secondFKName)),
                    secondWidgetElement = secondSelectElement.parents('.autocomplete-light-widget'),
                    paramName = firstFKName + '_id';

                return function() {
                    value = $(self).val();

                    if (value) {
                        secondWidgetElement.yourlabsWidget().autocomplete.data[paramName] = value[0];
                    } else {
                        secondWidgetElement.yourlabsWidget().autocomplete.data = {}
                    }
                };
            };

            var companyChange = change('company', 'center'),
                centerChange = change('center', 'division');
            companyChange();
            centerChange();

            $('body').on('change', '.autocomplete-light-widget select[name$=company]', companyChange);
            $('body').on('change', '.autocomplete-light-widget select[name$=center]', centerChange);
        });
    </script>

{% endblock %}
