<md-content layout="column">
    <div class="company-detail_logo">
        <img ng-src="{{ company.logo }}" />
    </div>

    <div class="company-detail_name">
        <h3 class="md-title">{{ company.name }}</h3>
        <p class="md-caption" ng-if="company.ceo">{{ company.ceo.position }}: {{ company.ceo | toFullname }}</p>
    </div>

    <div class="md-whiteframe-4dp">
        <md-list>
            <md-list-item class="md-1-line" ng-show="company.address">
                <md-icon>place</md-icon>
                <p>{{ company.address }}</p>
            </md-list-item>
            <md-list-item class="md-2-line"
                          ng-repeat="phone in company.phones">
                <md-icon ng-if="$first">phone</md-icon>
                <div class="md-list-item-text" ng-class="{'md-offset': !$first}">
                    <h3>{{ phone.number }}</h3>
                    <p>
                        {{ phone.category }}
                        <span ng-show="phone.comment"> ({{ phone.comment }})</span>
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line"
                          ng-repeat="email in company.emails">
                <md-icon ng-if="$first">email</md-icon>
                <div class="md-list-item-text" ng-class="{'md-offset': !$first}">
                    <h3>{{ email.email }}</h3>
                    <p>
                        {{ email.category }}
                        <span ng-show="email.comment"> ({{ email.comment }})</span>
                    </p>
                </div>
            </md-list-item>
        </md-list>

        <md-divider ng-show="company.full_name || company.comment"></md-divider>

        <md-list>
            <md-list-item class="md-1-line" ng-show="company.full_name">
                <md-icon>description</md-icon>
                <p>{{ company.full_name }}</p>
            </md-list-item>

            <md-list-item class="md-1-line" ng-show="company.comment">
                <md-icon>info</md-icon>
                <p>{{ company.comment }}</p>
            </md-list-item>
        </md-list>

    </div>
</md-content>
