<div layout="row" layout-padding layout-align="start center" class="employee-list-item">
    <div flex="33" flex-xs="40" flex-sm="25">
        <h4 class="md-subhead">{{ employee.surname }} {{ employee.firstname }} {{ employee.patronymic }}</h4>
        <p class="md-caption pb-text-muted">{{ employee.position }}</p>
    </div>

    <div layout="row" layout-xs="column" class="employee-list-item_contacts" flex="35" flex-xs="55" flex-sm="50">
        <md-list flex>
            <md-list-item ng-repeat="phone in employee.phones" ng-show="$even">
                <md-tooltip md-direction="left">{{ phone.category }}</md-tooltip>
                <p>{{ phone.number | formatPhone }}</p>
            </md-list-item>
        </md-list>
        <md-list flex>
            <md-list-item ng-repeat="phone in employee.phones" ng-show="$odd">
                <md-tooltip md-direction="left">{{ phone.category }}</md-tooltip>
                <p>{{ phone.number | formatPhone }}</p>
            </md-list-item>
        </md-list>
        <md-list hide-gt-xs>
            <md-list-item ng-repeat="email in employee.emails">
                <md-tooltip md-direction="left">{{ email.category }}</md-tooltip>
                <p>{{ email.email }}</p>
            </md-list-item>
        </md-list>
    </div>

    <div class="employee-list-item_contacts" hide-xs>
        <md-list>
            <md-list-item ng-repeat="email in employee.emails">
                <md-tooltip md-direction="left">{{ email.category }}</md-tooltip>
                <p>{{ email.email }}</p>
            </md-list-item>
        </md-list>
    </div>
    <span flex></span>

    <div class="employee-list-item_company" ng-show="employee.company">
        <md-tooltip>
            {{ employee.company.name }}
        </md-tooltip>
        <img ng-src="{{ employee.company.logo }}" alt="{{ employee.company.name }}" />
        <p class="pb-text-muted" hide-xs hide-sm>
            {{ employee.center.number }}
            <md-icon ng-show="employee.division">chevron_right</md-icon>
            {{ employee.division.number }}
        </p>
    </div>
</div>
