.pb-text-muted {
    color: @text-gray;
}

.pb-text-pale-white {
    color: @text-white;
}

.pb-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.pb-main-list {
    margin-top: -49px;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.pb-main-list_header h3 {
    padding-left: 8px;
}

.pb-pre-wrap {
    white-space: pre-wrap;
}

.pb-fixed {
    position: fixed!important;
}

.pb-float-left {
    float: left;
}

.pb-float-right {
    float: right;
}
