html, body {
    font: normal 13px Roboto, arial, sans-serif;
    background-color: @pale-gray;
}


.pb-detail-sidenav {
    width: 350px;
}

.pb-detail-sidenav, md-backdrop {
    position: fixed!important;
}


.pb-header {
    background-color: @blue;
    padding-bottom: 50px;

    .md-tall {
        background-color: transparent;
    }

    md-select {
        font-size: 13px;

        span, .md-select-value {
            color: @text-pale-white;
        }

        &:not([disabled]):focus {
            .md-select-value {
                color: @text-white;
            }
        }
    }

    md-autocomplete {
        background-color: @transparent-white;

        md-icon {
            svg {
                path {
                    fill: @text-white;
                }
            }
        }
        input {
            color: #fff;
        }

        &:not([disabled]):focus {
            background-color: #fff;
        }

        .md-menu-showing {
            background-color: #fff;

            input {
                color: @text-black;
            }

            md-icon {
                svg {
                    path {
                        fill: @text-gray;
                    }
                }
            }

            ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color:    @text-black;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color:    @text-black;
               opacity:  1;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
               color:    @text-black;
               opacity:  1;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
               color:    @text-black;
            }
        }
    }
}

.pb-white-placeholder {
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #fff;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #fff;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #fff;
    }
}


.pb-not-found {
    background-color: @red;
    color: #fff;
    padding-left: 8px;
}

.pb-progress_circular {
    margin: 0 auto;
}

/* autocomplete width in md-chips */
md-virtual-repeat-container.md-autocomplete-suggestions-container.md-whiteframe-z1.md-virtual-repeat-container.md-orient-vertical {
    width: 400px;
}

.autocomplete-custom-template {
    li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal;
    }

    .item-title,
    .item-metadata {
      display: block;
      line-height: 2;
      max-width: 600px;
    }

    .item-company-logo {
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        img {
            width: 40px;
            vertical-align: middle;
        }
    }
}
